@import './fonts.css';
html {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F5C342;
  min-height: 100vh;
}

#root {
  min-height: inherit;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
margin: 2% 0;
display: flex;
flex-direction: column;
align-items: center;
}

.gameBoard {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #565656;
  margin: 0 auto;
  background-image: url('./assets/grass.jpg');
  border-radius: 5px;
}

.Popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid #565656; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('./assets/grass.jpg'); */
  border-radius: 5px;
  background-color: #6F7BD0;
}

.Popup__title {
  margin: 30px 0;
  /* text-align: center; */
  color: #fff;
  font-family: 'Roboto';
}

.AppCanvas:focus {
  outline: none;
}

.Score {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #1929A2;
  border: 1px solid #1929A2;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  padding: 5px;
  width: 160px;
}

.MouseControl {
  display: flex;
  align-items: baseline;
  max-width: 500px;
}

.PauseControl {
  margin-right: 60px;
}

.PauseControl p {
  padding: 5px 0px;
  margin: 0;
  font-family: 'Roboto';
  font-size: 14px;
  text-align: center;
  color: #081369;
}

.MoveControl {
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  row-gap: 4px;
}

.MouseControl__btn {
  width: 70px;
  height: 84px;
  background-color: #6F7BD0;
  color: #fff;
  border: 1px solid #4C5BD0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  transition: all .4;
}

.MouseControl__btn:hover{
  background-color: #4C5BD0;
}

.MouseControl__btn:active {
  outline: none;
  transform: translateY(2px);
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5);
}
.MouseControl__btn:focus {
  outline: none;
}

.MouseControl__btn_sm {
height: 40px;
}

.MouseControl__btn_md {
  width: 80px;
  height: 50px;
}

.MouseControl__btn_lg {
  width: 80px;
}

.MouseControl__btn_left {
  grid-row: 1 / 3;
}

.MouseControl__btn_up {
  grid-column: 2 / 3;
}

.MouseControl__btn_down {
  grid-column: 2 / 3;
}
.MouseControl__btn_right {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.Header__wrap {
  background-color: '#4C5BD0';
  color: '#fff';
  padding: '10px';
}

.SettingsLabel {
  color: #fff !important; 
}

.SettingsLabel.MuiInputLabel-formControl {
  top: 1px;
  font-size: 1.4rem;
}

.SettingsLabel + .MuiInput-formControl {
  margin-top: 22px;
}

.SettingsInput {
  color: rgba(255, 255, 255, 0.57) !important; 
}

.SettingsInput::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.42) !important; 
}

.SettingsInput::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87) !important; 
}

.SettingsInput .MuiSelect-icon {
  color: #fff !important; 
}

.SettingsInput .MuiSelect-select:focus{
  background-color: transparent !important; 
}

.SettingsSwitch .MuiSwitch-colorSecondary.Mui-checked {
  color: #EBAB06 !important;
}

.SettingsSwitch .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #F5D071 !important;
}

.SettingsSwitch .MuiTypography-body1 {
  color: #fff;
}