@import './fonts.css';
html {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F5C342;
  min-height: 100vh;
  
}

#root {
  min-height: inherit;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.gameBoard {
  width: 500px;
  height: 500px;
  border: 1px solid #565656;
  margin: 20px auto;
  /* background-color: rgba(255, 255, 255, .1); */
  background-image: url('./assets/grass.jpg');
  border-radius: 5px;
  /* background-blend-mode: lighten; */
}

.AppCanvas {
  /* width: 100%;
  height: 100%; */

}

.AppCanvas:focus {
  /* width: 100%;
  height: 100%; */
outline: none;
}